<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Expires" content="Sun, 01 Jan 2014 00:00:00 GMT"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=540" />
    <title>{$subject}</title>
    <link rel="shortcut icon" href="https://www.wakers.cz/temp/static/image/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet" />
</head>
<body style="margin: 0; font-family: 'Ubuntu', 'Arial', sans-serif; color: #4B4B4B; font-size: 16px; line-height: 180%; background-color: #eeeeee" bgcolor="#eeeeee">

<span style="font-size: 0; line-height: 0; color: #eeeeee; display: none;">{$preview_text}</span>

<table border="0" cellpadding="0" cellspacing="0" width="540" align="center" style="border-collapse: collapse;">
    <tr><td style="padding: 30px 0 0 0">&nbsp;</td></tr>
    <tr>
        <td style="padding 30px 30px 30px 30px; font-size: 14px" align="center">
            Nezobrazil se Vám e-mail správně? <a href="{$campaign_url}?receiver={$receiver}">Klikněte zde</a>.
        </td>
    </tr>
    <tr><td style="padding: 30px 0 0 0">&nbsp;</td></tr>
    <tr>
        <td align="center" bgcolor="#4cb1ee" style="background-color: #50beff; padding: 10px">
            <img src="{$campaign_url}images/logo.png" alt="Wakers Logo" style="margin: -50px 0 -50px 0; display: block;">
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" width="540" align="center" style="border-collapse: collapse; background-color: #ffffff" bgcolor="#ffffff">
    <tr>
        <td align="center" style="color: #FF0039; padding: 120px 30px 100px 30px; background-image: url('{$campaign_url}images/bg-header.png'); background-repeat: no-repeat; background-size: cover;">
            <div style="color: #FF0039; font-size: 30px;">
                <b>NADÍLKA PRO NAŠE </b>
            </div>
            <div style="margin: 5px 0 0 0; font-size: 16px; line-height: 180%;">
                hodné a aktivní klienty, tak čtěte a rozbalujte
            </div>
        </td>
    </tr>

    <tr>
        <td style="padding: 100px 30px 100px 30px; color: #ffffff; background-image: url('{$campaign_url}images/bg-perex.png'); background-repeat: no-repeat; background-size: cover; background-color: #FF0039" bgcolor="#FF0039">
            <p style="font-size: 16px; line-height: 180%;">Vážení klienti,  </p>

            <p style="font-size: 16px; line-height: 180%;">
                blíží se konec roku 2019 a právě je čas ohlédnout se zpět, také  se ale podívejme i na to,
                co nás čeká v roce 2020.  
            </p>

            <p style="font-size: 16px; line-height: 180%; margin: 5px 0 16px 0;">
                Vy, kteří jste s námi od úplného začátku, projevujete nám
                důvěru, chcete další a rozsáhlejší projekty a také nás doporučujete
                svým  známým - myslím, že <b>si zasloužíte ocenit</b>.
                Než Vám ale dáme  nadílku, <b>musíme se trošku pochlubit</b>.
            </p>

        </td>
    </tr>

    <tr>
        <td style="padding: 100px 30px 100px 30px;">
            <div style="font-size: 24px;" align="center">
                <b>MÁME PRO VÁS TYTO NOVINKY</b>
            </div>

            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                <tr><td colspan="2" style="padding: 50px 0 0 0;">&nbsp;</td></tr>
                <tr>
                    <td width="120" valign="middle" style="padding: 0 0 16px 0">
                        <img src="{$campaign_url}images/wakers-cms.png" alt="Nové CMS 5.0">
                    </td>
                    <td>
                        <div style="font-size: 20px;">
                            <b>Nové CMS 5.0</b>
                        </div>
                        <p style="font-size: 16px; line-height: 180%; margin: 5px 0 16px 0;">
                            Úplně zdarma Vám dáváme ultra-jednoduchý 
                            <a href="https://www.wakers.cz/cms?{$utm_params}&utm_content=last-year" target="_blank">redakční systém</a>,
                            který nás stál 2 roky vývoje.
                        </p>
                    </td>
                </tr>
                <tr><td colspan="2" style="padding: 50px 0 0 0;">&nbsp;</td></tr>
                <tr>
                    <td width="120" valign="middle" style="padding: 0 0 16px 0">
                        <img src="{$campaign_url}images/wakers-web.png" alt="Nový web Wakers">
                    </td>
                    <td>
                        <div style="font-size: 20px;">
                            <b>Nový web Wakers</b>
                        </div>
                        <p style="font-size: 16px; line-height: 180%; margin: 5px 0 16px 0;">
                            Už se dozvíte, s čím vším Vám můžeme pomoci,  konečně jsme totiž předělali
                            <a href="https://www.wakers.cz?{$utm_params}&utm_content=last-year" target="_blank">vlastní web</a>.
                        </p>
                    </td>
                </tr>
                <tr><td colspan="2" style="padding: 50px 0 0 0;">&nbsp;</td></tr>
                <tr>
                    <td width="120" valign="middle" style="padding: 0 0 16px 0">
                        <img src="{$campaign_url}images/price-miner.png" alt="Systém na sledování trhu">
                    </td>
                    <td>
                        <div style="font-size: 20px;">
                            <b>Systém na sledování trhu</b>
                        </div>
                        <p style="font-size: 16px; line-height: 180%; margin: 5px 0 16px 0;">Dokážeme pro Vás v reálném čase
                            <a href="https://www.priceminer.cz?{$utm_params}&utm_content=last-year" target="_blank">sledovat  ceny</a>
                            produktů na celém EU trhu, kalkulovat ideální ceny a ty předávat do Vašeho e-shopu.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td style="padding: 100px 30px 100px 30px; background-image: url('{$campaign_url}images/bg-old-year.png'); background-repeat: no-repeat; background-size: cover; background-color: #fcfcfc" bgcolor="#fcfcfc">
            <div style="font-size: 24px;" align="center">
                <b>JAK VYPADAL ROK 2019</b>
            </div>

            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                <tr><td colspan="2" style="padding: 50px 0 0 0;">&nbsp;</td></tr>
                <tr>
                    <td width="120" valign="middle" style="padding: 0 0 16px 0">
                        <img src="{$campaign_url}images/money.png" alt="Klientům jsme vydělali">
                    </td>
                    <td>
                        <div style="font-size: 20px;">
                            <b>Klientům jsme vydělali</b>
                        </div>
                        <p style="font-size: 16px; line-height: 180%; margin: 5px 0 16px 0;">Letos se síly soustředily do našich projektů a  klientů bylo pouze 5. I tak jsme jim ale
                            pomohli  získat akvizice v hodnotě <b>3 640 000 Kč</b>.</p>
                    </td>
                </tr>
                <tr><td colspan="2" style="padding: 50px 0 0 0;">&nbsp;</td></tr>
                <tr>
                    <td width="120" valign="middle" style="padding: 0 0 16px 0">
                        <img src="{$campaign_url}images/timer.png" alt="200 hodin na projekt">
                    </td>
                    <td>
                        <div style="font-size: 20px;">
                            <b>200 hodin na projekt</b>
                        </div>
                        <p style="font-size: 16px; line-height: 180%; margin: 5px 0 16px 0;">Průměrný čas realizace marketingově výkonného  webu byl 200 hodin. Z toho, jak ročně sílí
                            online trh,  vyplývá, že to v novém roce <b>bude ještě více</b>.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td style="padding: 100px 30px 50px 30px;">
            <div style="font-size: 24px;" align="center">
                <b>VIZE PRO ROK 2020</b>
            </div>

            <div style="padding: 50px 0 50px 0" align="left">
                <p style="font-size: 16px; line-height: 180%; margin: 5px 0 16px 0;">
                    S velkými e-shopy je dnes spousta práce. Už i v onlinu je silně konkurenční prostředí a pokud nemáte
                    minimálně 2 mil. Kč, nemá cenu řešit větší e-shop. Z mého pohledu se pomalu přestává vyplácet i
                    krabicový e-shop, protože stejně potřebujete statisíce na marketing a úpravy a stejně to nikdy
                    neodladíte tak, jako e-shop na míru. 
                </p>

                <p style="font-size: 16px; line-height: 180%; margin: 5px 0 16px 0;">
                    Příležitost vidím ve specializovaných mini e-shopech o
                    pár produktech, kde odladíte veškeré detaily na webu a zároveň se budete starat jen o pár kampaní.
                    Díky tomu dostanete konkurenční výhodu a prostor pro pružnou reakci na změny trhu. 
                </p>

                <p style="font-size: 16px; line-height: 180%; margin: 5px 0 16px 0;">
                    Pro velké e-shopy vidím příležitost v automatizovaném sledování trhu a dynamické cenotvorbě. V celé
                    Evropě se tím zabývají 4 firmy včetně našeho startupu. Že to funguje, jsme si ověřili na menších
                    e-shopech, tržby +24 %. S dynamickou cenotvorbou pracují hlavně aerolinky a firmy jako Airbnb a
                    Booking - to je další signál, že to dává smysl.
                </p>

                <p style="font-size: 16px; line-height: 180%; margin: 5px 0 16px 0;">
                    Co se týče klasických webů pro podnikatele, zde konkurence také narůstá, ale stále se dá udělat
                    marketingově výkonný web a nestojí miliony (až na ty veliké). 
                </p>

                <p style="font-size: 16px; line-height: 180%; margin: 5px 0 16px 0;">
                    V roce 2020 bych se tedy rád zaměřil na menší specializované e-shopy. K těm velkým e-shopům bych
                    rád protlačil náš startup s dynamickou cenotvorbou. U klasických webů se musím zaměřit <b>pouze na
                    ty z Vás, kteří potřebujete marketingově výkonné weby</b>.
                </p>
            </div>
        </td>
    </tr>

    <tr>
        <td style="padding: 0 30px 100px 30px; background-image: url('{$campaign_url}images/bg-discount.png'); background-repeat: no-repeat; background-size: cover;">
            <div style="font-size: 24px;" align="center">
                <b>A TEĎ UŽ K NADÍLCE</b>
            </div>

            <div style="padding: 50px 0 0 0">
                <p style="font-size: 16px; line-height: 180%; margin: 5px 0 16px 0;">
                    Díky tomu, že se snažíme a tvoříme výdělečné projekty, tak se nám stále zvedá poptávka.
                    Nevyplácí se už realizovat podhodnocené weby, a proto přirozeně zvedáme hodinovku ze
                    700 Kč na 850 Kč. <b>Vás, kterých si ale vážíme, to nijak neohrozí - právě naopak! Pro Vás
                    jdeme s cenou dolů na 600 Kč</b>.
                </p>

                <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="border-collapse: collapse;">
                    <tr><td style="padding: 30px 0 0 0">&nbsp;</td></tr>
                    <tr>
                        <td style="border: 2px dashed #FF0039; font-size: 26px; padding: 20px 30px; background-color: #ffffff" align="center" bgcolor="#ffffff">
                            Sleva <b>250 Kč / h</b> na celý rok 2020
                        </td>
                    </tr>
                    <tr><td style="padding: 30px 0 0 0">&nbsp;</td></tr>
                </table>

                <p align="center" style="font-size: 16px; line-height: 180%; margin: 5px 0 16px 0;">
                    Pokud chcete slevu uplatnit, odepište mi na tento e-mail. <br>
                    <b>Nadílka bude pod stromečkem <span style="color: #ff0000;">pouze do 31. 12. 2019</span>.</b>
                </p>
            </div>
        </td>
    </tr>

    <tr>
        <td style="padding: 70px 30px 30px 30px; color: #ffffff; background-image: url('{$campaign_url}images/bg-quotes.png'); background-repeat: no-repeat; background-position: center top; background-color: #ED193F" bgcolor="#ED193F">
            <div style="font-size: 28px; line-height: 150%; padding: 0 0 30px 0" align="center">
                <b>
                    Přeji Vám veselé Vánoce <br>
                    a šťastný nový rok 2020
                </b>
            </div>

            <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="border-collapse: collapse;">
                <tr>
                    <td width="200">
                        {* Dont remove this image - it's Open Rate tracker *}
                        <img src="{$campaign_url}?image=ceo-jiri-zapletal.png&receiver={$receiver}&tms={php echo (new \DateTime())->getTimestamp()}"
                             alt="CEO, Jiří Zapletal">
                    </td>
                    <td style="font-size: 16px; line-height: 180%; color: #ffffff;">
                        <div style="font-size: 24px; padding: 0 0 15px 0;">Jiří Zapletal</div>
                        Vedení projektů a vývoje, 
                        <br>uživatelské výzkumy ve
                        <a style="color: #ffffff" target="_blank"
                           href="https://www.wakers.cz?{$utm_params}&utm_content=signature-link">
                            Wakers.cz
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>